.espacio{
	height: 50px;
}

/* para la vista navbar/index */

.bordeinferior{
	border-bottom: 0.5px solid lightgray;
}

/* para la vista principal/index */
.jumbotron{
	/* margin-top: 50px; */
	margin-top: -20px;
	background-color: #2b2a29;
}

.slogan{
	color: white;
}